body {
  font-family: arial,sans-serif;
}



.container {
  display: flex;
  margin-left: 35px;
  margin-bottom: 10px;
  width:650px;
}

.element1 {
  flex: 1;
  
}

.element2 {
  flex: 1.85;
  
}

.button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.advanced_heading {
  color: #d93025;
  font-size: 20px;
  margin: 25px 35px;

}

.advanced_align {
  margin: 25px 35px

}

.advanced_textlabels {
  display: inline-block;
  min-width: 167px;
  width: 16%;
  height: 42px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
  vertical-align: middle;

}

.advanced_text_field {
  display: inline-block;
  width: 400px;

}

.advanced_button {
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  margin-right: 16px;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  outline: 0;
  background-color:#3079ed; 
  border: 1px solid #3079ed;
  color: #fff;


}

.searchbar {
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 30px;
    margin:  auto;
    width: 638px;
    min-width: 358px;
    width: auto;
    max-width: 584px;
    padding-left: 12px;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
  }

.navi_link {
    margin-right: 10px;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
    font-size: 12px;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: black;
  }